#page-create-point {
    width: 90%;
    max-width: 1100px;
    /*Alinhamento de caixa(pelo lado de fora da caixa)*/
    margin: 0 auto;
}

#page-create-point header{
    margin-top: 48px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a{
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-point header a span{
    margin-right: 10px;
    background-image: url(../assets/arrow-left.svg); /*tem que colocar widht, heighr, display*/
    display: flex;
    
    width: 20px;
    height: 24px;
}

#page-create-point form{
    background-color: white;

    /*Alinhamento de caixa(pelo lado de fora da caixa) com margin top e botton de 80px*/
    margin: 80px auto;

    padding: 64px;

    border-radius: 8px;

    max-width: 730px; /*se colocar só até aqui, o padding vai fazer a caixa ficar maior do que isso
    o box-sizing: border-box => faz a borda ser o limite, sendo que o padão é content*/
    
    
}

#page-create-point form h1{
    font-size: 36px;
}

#page-create-point form h2{
    font-size: 24px;
}

#page-create-point form fieldset{
    margin-top: 64px;

    border: 0; /*Retira o contorno*/
}

#page-create-point form legend{
    margin-bottom: 40px;

    border: 0; /*Retira o contorno*/
}

#page-create-point form .field{
    flex: 1; /*para preencher todo espaço*/
    
    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

#page-create-point form .field-group{
    display: flex;
}

#page-create-point form input, form select{
    background-color: #f0f0f5;

    border: 0;
    padding: 16px 24px;
    font-size: 16px;

    border-radius: 8px;

    outline: none; /*para retirar o traço preto*/

}

form select{
    /*Alguns navegadores desconfiguram esses campos. Para resolver o problema:*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label{
    font-size: 14px;
    margin-bottom: 8px;
}

/*Configurar apenas o field que vier antecedido por outro. No caso, só tem dois fields, seleciona o segundo. Se houvessem mais fields, o primeiro não seria selecionado*/
form .field-group .field + .field{
    margin-left: 24px;
}

form button{
    width: 260px;
    height: 56px;
    
    background-color: var(--primary-color);
    border-radius: 8px;

    color: white;
    font-size: 16px;
    font-weight: bold;

    border: 0;

    margin-top: 40px;

    transition: background-color 400ms; /*é possível especificar p quem vai a transição. Não são todas as propriedades que aceitam isso
    */
}

form button:hover{
    background-color: #2fb86e;
}

.items-grid {
    list-style-type: none;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.items-grid li{
    background-color: #f5f5f5;

    border: 2px solid  #f5f5f5;
    border-radius: 8px;
    
    height: 180px;

    padding-top: 32px;

    display: flex;
    flex-direction: column;/*muda a diração do fluxo*/
    align-items: center;
    justify-content: space-between;/*como a diração do fluxo mudou, o space passa a ser na direction da column */

    text-align: center; /*alinha os textos*/

    cursor: pointer;
}

.items-grid li span{
    margin-top: 12px;

    flex:1; /*preenche o resto do espaço*/

    display: flex;
    align-items: center; 

    color: var(--title-color);
}
.items-grid li.selected{
    /*li.selected quer dizer para pegar o li com a classe selected*/
    background: #e1faec;
    border: 2px solid #34cb79;
}

.items-grid li img,
.items-grid li span{
    pointer-events: none; /*os eventos de pointer não existem nos filhos do li*/
}